.categories{
    flex: 0 0 256px;
    flex-direction: column;
    display: flex;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px -2px black;
    width: 200px;   
    font-size: x-large;
    justify-content: space-around;
    height: 400px;
  }
.categories> a{
    border: solid;
    background-color: darkblue;
    color: white;
}
a:hover{
    background-color: cornflowerblue;
}

